<template>
	<v-content id="app">
		<v-container>
			<v-row justify="center">
				<v-col cols="12" xl="5" md="7">
					<div class="video-field" :style="start ? 'margin-top:200px' : 'margin-top:116px'">
						<video 
							autoplay 
							v-show="!start"
							></video>
						<img src="@/assets/photos.svg" v-if="start" alt="">
						<div class="face" v-if="!start">
                            <img src="@/assets/face.svg" alt="">
                        </div>
					</div>
                </v-col>
			</v-row>
            <v-row justify="center" no-gutters class="mt-10">                
                <v-col cols="5" sm="3" md="2" xl="1"  align="center" v-if="start">
                    <v-btn
                        @click="startCapture"                        
                        color="success"   
                        block                     
                        >Open camera</v-btn>
                </v-col>
                <v-col v-if="!start" cols="5" sm="3" md="2" xl="1" align="center">
                    <v-btn color="success" @click="shot" block>Capture</v-btn>
                </v-col>  
                <v-col v-if="!start" cols="5" sm="3" md="2" xl="1" offset="2" offset-md="1" offset-lg="1" align="center">
                    <v-btn @click="back" block>Back</v-btn>
                </v-col>
                <v-col v-if="start" cols="5" sm="3" md="2" xl="1" align="center" offset="2" offset-md="1" offset-lg="1">
                    <v-btn 
                        @click="images = []"
                        :disabled="images.length == 0"
                        color="danger"
                        class="white--text"   
                        block                    
                        >Clear history</v-btn>
                </v-col>  
            </v-row>              
            <v-row v-if="images.length > 0" class="mt-10">
                <h2 class="headline">History</h2>
            </v-row>            
            <v-row class="images" justify="start">
                <v-col cols="12" sm="4" md="3" lg="2" v-for="(imgSrc, index) in images" :key="index">
                    <img alt="" :src="imgSrc.currentSrc">
                    <span @click="images.splice(index, 1)">Удалить</span>
                </v-col>   
            </v-row>
			
		</v-container>
	</v-content>
</template>

<script>
export default {
	name: 'app',
	data() {
		return {
			start: true,
			images: []
		}
	},
	methods: {
		startCapture() {
			navigator.getUserMedia = navigator.getUserMedia ||
									navigator.webkitGetUserMedia ||
									navigator.mozGetUserMedia

			if (navigator.getUserMedia) {
				let t = this
				navigator.getUserMedia({ audio: false, video: { width: 640, height: 400 } },
						function(stream) {
							let video = document.querySelector('video')              
							video.srcObject = stream
							window.streamReference = stream              
							video.onloadedmetadata = function() {
								video.play()
								t.start = !t.start                
							}
							
						},
						function(err) {
							console.log("The following error occurred: " + err.name)
							alert('Камера не найдена :(')
						}            
				);        
			} else {
				console.log("getUserMedia not supported");
				
			}
		},
		shot() {
			let img = document.createElement('img'),
					canvas = document.createElement('canvas'),
					context,
					width = 320,
					height = 180,
					video = document.querySelector('video')
			
			canvas.witdh = width
			canvas.height = height

			context = canvas.getContext('2d')
			context.drawImage(video, 0, 0, width, height)
		
			img.src = canvas.toDataURL('image/png')
			
			video.srcObject.getTracks().forEach(function(track) {
				track.stop();
			})

			this.start = !this.start
			this.images.push(img)
			console.log(this.images)
        },
        back() {
            let video = document.querySelector('video')
            video.srcObject.getTracks().forEach(function(track) {
				track.stop();
            })
            this.start = !this.start
        }
	}
}
</script>

<style lang="scss">
	.video-field {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	video {
		margin: 0 auto;
        display: block;
        width: 100%;
	}
	.face {		
        
        position: absolute;       
        @media(max-width: 500px) {
            img {
                width: 100px
            }
        }
        @media(max-width: 1264px) {
            img {
                width: 135px
            }
        }       
        
    }
    @media(max-width: 960px) {
        .headline {
            text-align: center;
            display: block;
            width: 100%;
        }
    }
	.images {		  
		flex-wrap: wrap;    
		margin: 0px auto;
		div {
			position: relative;
		}
		img {
			flex: 0 auto;
            margin:5px; 
            width: 100%;
		}
		span {
            position: absolute;
            right: 15px;
            top: 25px;
            background-color: #fff;
            border-radius: 6px;
            padding: 5px 10px;
            font: 12px Arial;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                background-color: #ccc
            }
        }
	}
</style>

